body{
    background-color: darkslategray;
}

p{
    font-family:monospace;
    text-align: center;
    color: whitesmoke

}

h1,h2,h3,h4,h5,h6 {
    font-family:monospace;
    color: white;
    font-style: italic;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    font-style: normal;
    text-align: center;
}

h2{
    color: black;
}